
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

/* Header */

header {
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

/* Navbar */

header nav {
    justify-content: center;
    display: flex;
    flex: 2;
    gap: 40px;
}

header nav li {
    list-style-type: none;
}

header nav li a {
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

header nav li a.fa-logo {
    font-size: 15px;
}

/* body content */

#body .iphone-banner {
    cursor: pointer;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    margin-bottom: 15px;
    /* border: 1px solid red; */
}

#body .iphone-banner .iphone-desc {
    top: 60px;
    width: 100%;
    color: #fff;
    position: absolute;
    text-align: center;
}

#body .iphone-banner .banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body .iphone-banner .banner {
    background-color: #f5f5f7;
}

#body .categories .small-banner .iphone-desc {
    color: #181818;
    top: 30px;
}

#body .iphone-banner .iphone-desc h1 {
    font-size: 48px;
}

#body .categories .iphone-banner .iphone-desc .s-b-heading {
    font-size: 35px;
    font-weight: 500;
    line-height: 20px;
}

#body .categories .iphone-banner .iphone-desc .colorful-txt {
    color: #126abc;
    font-style: italic;
    font-weight: 600;
}

#body .categories .iphone-banner .iphone-desc .s-b-para {
    font-size: 18px;
    color: #181818;
}

#body .categories .iphone-banner .iphone-desc .bottom-desc {
    margin-top: 350px;
    background: linear-gradient(to right, #0a8df7, #0a8df7, #b663fc, orange, orange, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 300;
}

#body .iphone-banner .store-desc-b {
    color: #1d1d1f;
    margin-top: 350px;
}

#body .iphone-banner .iphone-desc h2 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 25px;
}

#body .iphone-banner .iphone-desc .desc-btn {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#body .iphone-banner .iphone-desc .desc-btn .fill-btn {
    padding: 13px 25px;
    color: #ffffff;
    background-color: #0071e3;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

#body .categories .iphone-banner .iphone-desc .desc-btn .small-btn {
    padding: 10px 20px;
}

#body .iphone-banner .iphone-desc .desc-btn .w-fill-btn {
    background-color: #ffffff;
    color: #000000;
}

#body .iphone-banner .iphone-desc .desc-btn .trans-btn {
    padding: 13px 25px;
    color: #0071e3;
    background-color: transparent;
    border: 1px solid #0071e3;
    border-radius: 25px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}

#body .iphone-banner .iphone-desc .desc-btn .w-trans-btn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

#body .iphone-banner .iphone-desc .desc-btn .trans-btn:hover {
    color: #ffffff;
    background-color: #0071e3;
    border: 1px solid #0071e3;
}

#body .iphone-banner .iphone-desc .desc-btn .w-trans-btn:hover {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

#body .categories {
    width: 100%;
    display: flex;
    padding: 0px 15px;
    gap: 15px;
}

#body .categories .small-banner-2 .iphone-desc{
    top: 370px;
    color: #ffffff;
}

#body .categories .small-banner-2 .iphone-desc .s-b-heading-2 {
    font-size: 35px;
}

#body .categories .small-banner-2 .iphone-desc .s-b-para-2 {
    font-size: 20px;
}

#body .categories .small-banner .iphone-desc .s-b-heading-2 {
    font-size: 35px;
    color: #ffffff;
}

#body .categories .small-banner .iphone-desc .s-b-para-2 {
    font-size: 20px;
    color: #ffffff;
}

#body .slider {
    display: flex;
    overflow-x: hidden;
    gap: 15px;
    justify-content: center;
}

#body .slider li {
    list-style-type: none;
}

#body .slider-2 {
    display: flex;
    gap: 15px;
    margin-top: 50px;
    overflow-x: hidden;
    justify-content: center;
}

#body .slider-2 li {
    list-style-type: none;
}

#body .instructions {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
    background-color: #f5f5f7;
}

#body .instructions p {
    font-size: 12px;
    color: #989899;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

footer {
    background-color: #f5f5f7;
}

footer .links {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 80%;
    border-top: 1px solid #858586;
    margin-left: auto;
    margin-right: auto;
}

footer .links .foot-links p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 13px;
}

footer .links .foot-links li {
    margin-top: 5px;
    list-style-type: none;
}

footer .links .foot-links li a {
    text-decoration: none;
    color: #858586;
    font-size: 12px;
}

.copyright {
   padding-top: 20px;
   background-color: #f5f5f7;
}

.copyright .cont{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.copyright .cont p {
    font-size: 13px;
    color: #858586;
    border-bottom: 1px solid #858586;
    padding-bottom: 10px;
}

.copyright .cont .copy {
    padding-top: 20px;
    display: flex;
}

.copyright .cont .copy .p-links {
    margin-left: 20px;
    gap: 15px;
    display: flex;
}

.copyright .cont .copy .p-links li {
    list-style-type: none;
}

.copyright .cont .copy .p-links li a {
    font-size: 13px;
    color: #858586;
    text-decoration: none;
    border-right: 1px solid #989899;
    padding-right: 5px;
}